torch>=1.7.0
torchvision>=0.8.1
tensorboardX==2.0
boto3==1.14.53
numpy>=1.14
tqdm>=4.27
demjson3>=3.0.5
torchtext>=0.6
GitPython>=2.1
pyyaml>=5.1
pytest>=4.6
pytest-timeout
pytest-cov>=2.0
pytest-filter-subpackage>=0.1
requests>=2.21.0
PyHamcrest>=1.9.0
transformers>=4.17.0
sentencepiece
pillow>=4.3.0
opencv-python
librosa
numba
editdistance
nltk==3.4.5
torchsummary
yacs==0.1.7
lmdb==0.98
omegaconf
llvmlite
xlrd>=1.0.0
jsonlines
Faker
rouge
decord==0.6.0
deprecated
wget
sphinx
pydata_sphinx_theme
sphinx_automodapi
sphinx_copybutton
sphinx_panels
pytorchvideo==0.1.5
jieba
spacy==3.5
pycocotools
protobuf==3.20.3
pandas
